*{
	text-decoration: none;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

#masterContainer{
	height: 100%;
	width: 100%;
}
img{
	width: 100%;
}
#cover{
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#009DFF, #2BB5A5); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#009DFF, #2BB5A5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#009DFF, #2BB5A5); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#009DFF, #2BB5A5); /* Standard syntax */
	text-align: center;
	height: 100vh;

}

#coverTitle{
	padding-top: 50%;
}

.coverText{
	display: inline-block;
	font-size: 100px;
	color: white;
}
#agency{
	position: absolute;
	bottom: 0px;
	text-align: center;
	right: 100px;
	left: 100px;
	top: auto;
	color: white;
	font-size: 30px;
	letter-spacing: 7px;
}

#coverLogo{
	height: 65px;
	margin-bottom: 55px;
}

.row{
	margin: 0;
}

#aboutUs{
	margin-top: 150px;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
}

#desktopImage{
	margin-top: 100px;
	margin-bottom: 100px;
}


