* {
	text-decoration: none;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

#cover{
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#009DFF, #2BB5A5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#009DFF, #2BB5A5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#009DFF, #2BB5A5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#009DFF, #2BB5A5); /* Standard syntax */
    text-align: center;
    height: 100vh;

}

.row{
	margin: 0;
}