// general

$primaryFont: "Open Sans Condensed";
$secondaryFont: "Lato";

*{
	text-decoration: none;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
.row{
	margin-right: 0px!important;
	margin-left: 0px!important;
}

#masterContainer{
	height: 100%;
	width: 100%;
}

// welcome page

#cover{
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#009DFF, #2BB5A5); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#009DFF, #2BB5A5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#009DFF, #2BB5A5); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#009DFF, #2BB5A5); /* Standard syntax */
	text-align: center;
	height: 100vh;
	width:100%;

}

#coverTitle{
	margin-top: 30vh;
}

.coverText{
	margin-right: 13px;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
	font-family: "Open Sans Condensed";
	display: inline-block;
	font-size: 48px;
	color: white;
	font-weight: 600;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
}
#agency{
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.7);
	font-family: "Lato";
	text-align: center;
	color: white;
	padding: 0px 60px;
	font-size: 11px;
	letter-spacing: 8px;
	font-weight: 600;
	line-height: 24px;
}

#coverLogo{
	margin-right: -2px;
	height: 35px;
	margin-bottom: 25px;}

.scrollDown {
	color: white;
	font-size: 12px;
	height: 28vh;
    margin-top: 28vh;
}
.scrollDown:hover{
	cursor: pointer;
}

// sidebar

#sidebar {
	height: 100%;
	background: linear-gradient(#FF5E3A, #FF2B67);

	width:0px;
	position: fixed!important;
	left: 0;
	top: 0;
	transition: opacity 0.2s, width 0.3s;
	overflow: hidden;
}

#menuButton:hover{
	cursor:pointer;
}


#menuButton {
	margin-top: 45px;
	margin-left: 7px;
}

#content{
	font-family: 'Lato', sans-serif;
	padding-left: 20px;


}

#aboutUs{
	font-weight:200!important;
	font-size: 40px;
	// height: 700px;
	height: 76vh;
	background-color: #2BB5A5;
	color: white;

	img{
		margin: 60px auto;
	}
}

.aboutUsImage{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.aboutUsText{
	margin-top:60px;
	font-size: 20px;
	margin-bottom: 0;
	text-align: center;
	line-height:40px;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.7);
	font-family: "Lato";
	text-align: center;
	color: white;
	padding: 0px 10px;
	font-size: 18px;
	font-weight: 200;
}

#gradientAboutUs {
	width:100%;
	height:24vh;
	background: linear-gradient(#2BB5A5, white);
}

#featured, #ourDesigners, #coverFeatured{
	margin-top: 50px;
}

.col-noPadding{
	padding: 0px;
	text-align: center;
}

.coverFeaturedContainer, .coverDesignersContainer{
	margin-bottom: 50px;
		text-align: center;
}

.featureName, .designersName{
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 600;
}


// .featured-header{
// 	margin-top:80px;
// }

.featureImage, .designersImage{
	border-radius: 300px;
	transition: all 0.2s ease;
	box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
}

.featureImage:hover, .designersImage:hover{
	cursor: pointer;
	opacity :0.4;
}

// .coverFeaturedContainer .featureImage:hover {
// 		cursor: pointer;
// 	opacity:0.4;
// }

// sidebar content
#sidebarMenu{
	z-index: -900;
	font-family: $secondaryFont;
	color:white;
	width:100%;
	margin: 0 auto;
	position: fixed;
  top: 0;
  left: 0;
  font-size:20px;
  transition: all 0.2s ease-in;
  display: none;
  opacity: 0;
  padding-top: 35%;

	h1 {
		display: inline-block;
		margin-left: 25%;
		font-family: $primaryFont;
		font-size:60px;
		margin-bottom: 25px;
		font-weight: 600;
	}
	i{
		font-size:30px;
	}
}

.customList {
	margin-left: 24%;
	padding-right: 0;
	list-style-type: none;
	font-family: $primaryFont;
	font-weight:200;

	li {
	counter-increment: step-counter;
		letter-spacing: 1px;
		transition: all 0.2s ease;
	}
	li:hover{
		opacity:0.6;
		cursor: pointer;
	}
	li::before {
	content: counter(step-counter);
	margin-right: 5px;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
	// font-weight: bold;
	padding: 3px 8px;
	border-radius: 3px;
	margin-bottom:4px;
	}


}

.featureHeading {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3px;
	text-align: center;
	padding: 0px;
	border-radius: 20px;
	color: #FF4A4B;
	margin: 0 auto;
	font-family: $secondaryFont;
	// background: -webkit-linear-gradient(#ff5e3a, #ff2c66);
	// -webkit-background-clip: text;
	// -webkit-text-fill-color: transparent;
	 i {
		color: #FF5E3A;
		margin-right:10px;
	 }
}

.coverID {
	display: none;
}

#sidebarContent {
	display: none;
}
#sidebarMenu{

}
.designerOpened{
	color:white;
	font-family: $secondaryFont;
	font-size: 26px;

	.featureImage, .designersImage {
		margin:20px 0px;
		width:100px;
		opacity: 1;
	}
}
#modalDesignerGrid {
	margin-top: 20px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden!important;
	img {
		transition: all 0.2s ease;
		width: 100%;
	}
.modalImageContainer {
		flex: 1 0 32%;
		margin: 5px 5px;
		transition: all 0.2s ease-in;
}

	overflow: auto;
}

.modalImageContainer:hover{
	background-color: rgba(0, 0, 0, 0.3);
}

#modalDesignerStats{
	text-align: center;

	.button{
		display: inline-block;
		border: 1px solid white;
		padding: 5px 15px;
		font-size: 16px;
		text-transform: uppercase;
		border-radius: 15px;
		transition: all 0.2s ease;
	}
	.button:hover{
		background-color: rgba(0,0,0,0.3);
		cursor: pointer;
	}

}


.modalImagePopup{
	box-sizing: border-box;
	padding-top: 100px;
	position: absolute;
	width:98%;
	height: 276px;
	// transition: all 0.2s ease;
	text-align: center;
	z-index: -9900;
	font-size: 22px;
	background-color: white;
	opacity:0;
	color: #FF4A4B;
	font-size: 14px;

	.statsPopupTitle {
		text-transform: uppercase;
		font-weight:600;
	}
	i{
		margin-right:4px;
	}
	p{
		margin-bottom: 12px;
	}

}

#chart1{
	margin-top: 30px;
	margin-bottom: 30px;
}
// .modalImagePopup:hover {
// 	cursor: pointer;
// }
